@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

@import"./utils/variables";
@import "./layouts/base";
@import "./pages/Home";
@import "./pages/About";
@import "./pages/Locations";
@import "./pages/Error";
@import"./components/Header";
@import "./components/Banner";

@import "./components/Dropdown";
@import "./components/HomeBanner";
@import "./components/Thumb";
@import "./components/Caroussel";
@import "./components/Tag";
@import "./components/Host";
@import "./components/Rating";