.about__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  
}

.about__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}