.section__home {
    @media screen and (min-width: 768px) {
        padding: 0 30px 30px;
    }
}

.section__logement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-around;
        padding: 31px;
        background-color: $secondary-color;
        margin-top: 20px;
        border-radius: 25px
    }
}