.carrousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    @media screen and (min-width:768px) {
        width: 100%;
        height: 415px;
    }

    &__img {
        display: flex;
        justify-content: center;
        width: 335px;
        height: 255px;
        border-radius: 10px;
        object-fit: cover;

        @media screen and (min-width:768px) {
            width: 100%;
            height: 415px;
        }
    }

    &__left-arrow {
        position: absolute;
        width: 3%;
        top: 50%;
        left: 20px;
        color: $tertiary-color;
        z-index: 10;
        cursor: pointer;
        user-select: none;

        @media screen and (min-width:768px) {
            top: 45%;
        }
    }

    &__right-arrow {
        position: absolute;
        width: 3%;
        top: 50%;
        right: 20px;
        color: $tertiary-color;
        z-index: 10;
        cursor: pointer;
        user-select: none;

        @media screen and (min-width:768px) {
            top: 45%;
        }
    }

}

.slider {

    opacity: 0;
    transition-duration: 1s ease;

    &__active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1);
        object-fit: cover;
        width: 100%;
    }


    &__number {
        display: none;

        @media screen and (min-width:768px) {
            display: block;
            position: absolute;
            top: 86%;
            left: 48%;
            color: $tertiary-color;
            font-size: 18px;

        }
    }
}