.dropdown {
    margin: auto;
    background-color: $secondary-color;
    width: 335px;

    @media screen and (min-width:760px) {
           margin:auto;
           width: 100%;
           margin-bottom: 30px;
        }


    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        background-color: $primary-color;
        height:47px;
        border-radius: 5px;

        @media screen and (min-width:760px) {
                margin-top: 0px;
            }
    
    }

    &__title {
        color: white;
        padding: 20px;
    }

    &__icons {
        color: white;
        width: 30px;
        font-weight: bold;
        font-size: 30px;
        position: absolute;
        margin-left: 90%;

    }

}

.chevron{
    color: white;
    width: 30px;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
}

.rotated{
    transform: rotate(180deg);
}