.banner {
    display: flex;
    justify-content: center;
    align-items: center;


    @media screen and (min-width: 768px) {
        width: 100%;
        height: 223px;
    }

    &__picture {
        filter: brightness(65%);
    }

    &__container {
        width: 100%;
        padding: 0 20px;
    }

    &__container-text {
        position: absolute;
        width: 181px;
        color: $tertiary-color;
        font-size: 24px;
        line-height: 24px;

        @media screen and (min-width: 768px) {
            position: absolute;
            font-size: 48px;
            width: 600px;


        }
    }

    &__text {
        position: absolute;
        top: -26px;
        left: -60px;
        width: 227px;

        @media screen and (min-width: 768px) {
            position: absolute;
            top: 38%;
            width: 716px;

        }

    }

    &__img {
        object-fit: cover;
        height: 111px;
        border-radius: 10px;
        width: 100%;



        @media screen and (min-width: 768px) {
            width: 100%;
            height: 223px;

        }

        &.aboutbanner__img {
            height: 255px;
        }
    }

}

.about__picture {
    display: none;
}