.host {
    display: flex;
    justify-content: flex-end;
    width: 135px;
    height: 33px;

    @media screen and (min-width:768px) {
        align-items: center;
        justify-content: space-between;
    }

    &__name {
        width: 60px;
        height: 33px;
        display: flex;
        align-items: center;
        color: $primary-color;
        font-size: 12px;
        text-align: center;

        @media screen and (min-width:768px) {
            font-size: 18px;
            display: flex;
        }
    }

    &__picture {
        border-radius: 100px;
        width: 32px;
        height: 32px;

        @media screen and (min-width:768px) {
            width: 64px;
            height: 64px;
        }
    }
}