.tag {
    background: $primary-color;
    border-radius: 10px;
    text-align: center;
    padding: 2px 20px;
    margin-right: 10px;


    &__text {
        position: relative;
        bottom: 2px;
        width: 24px;
        font-size: 10px;
        color: $tertiary-color;
    }
}