@media only screen and (min-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    header {
        display: flex;
    }

    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}